<section>
    <h5 class="h5">Besoin de chauffage</h5>

    <table class="table align-middle text-center">
        <thead>
            <tr class="align-middle">
                <th rowspan="2">Mois</th>
                <th rowspan="2">Apports solaires (kWh)</th>
                <th colspan="2">Apports internes (kWh)</th>
                <th colspan="2">Besoin (W/K)</th>
                <th colspan="2">Nombre d'heures de chauffage (h)</th>
                <th colspan="2">Degrés-heures de chauffage (°Ch)</th>
            </tr>
            <tr>
                <th>Conventionnel</th>
                <th>Dépensier</th>
                <th>Conventionnel</th>
                <th>Dépensier</th>
                <th>Conventionnel</th>
                <th>Dépensier</th>
                <th>Conventionnel</th>
                <th>Dépensier</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 1..12 %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ (data.as_j(i) / 1000)|format_number }}</td>
                    <td>{{ (data.ai_j(i) / 1000)|format_number }}</td>
                    <td>{{ (data.ai_j(i, true) / 1000)|format_number }}</td>
                    <td>{{ data.bv_j(i)|format_number }}</td>
                    <td>{{ data.bv_j(i, true)|format_number }}</td>
                    <td>{{ data.nref_j(i)|format_number }}</td>
                    <td>{{ data.nref_j(i, true)|format_number }}</td>
                    <td>{{ data.dh_j(i)|format_number }}</td>
                    <td>{{ data.dh_j(i, true)|format_number }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>{{ (data.as() / 1000)|format_number }}</strong></td>
                <td><strong>{{ (data.ai() / 1000)|format_number }}</strong></td>
                <td><strong>{{ (data.ai(true) / 1000)|format_number }}</strong></td>
                <td><strong>{{ data.bv()|format_number }}</strong></td>
                <td><strong>{{ data.bv(true)|format_number }}</strong></td>
                <td><strong>{{ data.nref()|format_number }}</strong></td>
                <td><strong>{{ data.nref(true)|format_number }}</strong></td>
                <td><strong>{{ data.dh()|format_number }}</strong></td>
                <td><strong>{{ data.dh(true)|format_number }}</strong></td>
            </tr>
        </tbody>
    </table>
</section>
