<section>
	<h5 class="h5">Données intermédiaires</h3>

	<table class="table align-middle text-center">
        <thead>
            <tr class="align-middle">
                <th rowspan="2">Mois</th>
                <th>Nombre d'heures d'éclairage</th>
                <th>Puissance d'éclairage (W/m²)</th>
                <th>Consommation (kWh)</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 1..12 %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ data.nh_ecl_j(i)|format_number }}</td>
                    <td>{{ data.p_ecl()|format_number }}</td>
                    <td>{{ data.c_ecl_j(i)|format_number }}</td>
                </tr>
            {% endfor %}
        </tbody>
		<tfoot>
			<tr>
				<td><strong>Total</strong></td>
				<td><strong>{{ data.nh_ecl()|format_number }}</strong></td>
				<td><strong>{{ data.p_ecl()|format_number }}</strong></td>
				<td><strong>{{ data.c_ecl()|format_number }}</strong></td>
			</tr>
		</tfoot>
    </table>
</section>
