<section>
    <h5 class="h5">Détail des murs</h3>

    <h5 class="h5">Détail des murs</h3>

    <table class="table text-center">
        <thead>
            <tr class="align-middle">
                <th rowspan="2">Poste</th>
                <th rowspan="2">Surface (m²)</th>
                <th rowspan="2">Coefficient b</th>
                <th rowspan="2">U paroi</th>
                <th rowspan="2">Isolation</th>
                <th colspan="2">Déperdition</th>
            </tr>
            <tr>
                <th>W/K</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data.logement.enveloppe.mur_collection %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.s_paroi() ? item.s_paroi()|format_number }}</td>
                    <td>{{ item.b_paroi() ? item.b_paroi()|format_number }}</td>
                    <td>{{ item.u_paroi() ? item.u_paroi()|format_number }}</td>
                    <td>{{ item.qualite_isolation.lib() }}</td>
                    <td>{{ item.deperdition_paroi() ? item.deperdition_paroi()|format_number }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td><strong>Total</strong></td>
                <td>{{ data.logement.enveloppe.surface_mur()|format_number }}</td>
                <td></td>
                <td>{{ data.logement.enveloppe.u_mur() ? data.logement.enveloppe.u_mur()|format_number }}</td>
                <td>{{ data.logement.enveloppe.qualite_isolation_mur.lib() }}</td>
                <td>{{ data.logement.enveloppe.deperdition_mur() ? data.logement.enveloppe.deperdition_mur()|format_number }}</td>
            </tr>
        </tbody>
    </table>
    <br/>
</section>
